/* Element Selector */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
  }
  
  /* ID Selector */
  #main-header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Class Selector */
  .content {
    border: 1px solid #ccc; /* ทดสอบ border */
    margin-bottom: 10px;         /* ทดสอบ margin */
    padding: 20px;          /* ทดสอบ padding */
  }

  .flex-demo {
    border: 1px solid #ccc;
    margin-bottom: 10px;         /* ทดสอบ margin */
    padding: 20px;
    display: flex;
    flex-direction: row;     /* หรือ column */
    justify-content: space-evenly; /* center, flex-start, flex-end, space-between, space-around, space-evenly */
    align-items: flex-start;     /* center, flex-start, flex-end, stretch */
    border: 2px dashed #666;
    height: 200px; /* เพื่อทดสอบ align-items */ */
  }
  
  .flex-item {
    background-color: #ddd;
    margin: 10px;
    padding: 20px;
    border: 1px solid #999;
  }
  
  
  
  .highlight {
    background-color: #f0f0f0;
  }
  
  /* Descendant Selector */
  .content p {
    color: #555;
  }
  
  /* Footer */
  #main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  